body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-2xs {
  font-size: 15px;
}

.text-3xs {
  font-size: 13px;
}
@media (min-width: 640px) {
  .sm\:ml-65px {
    margin-left: 65px;
  }
}

@media (min-width: 768px) {
  .md\:ml-280px {
    margin-left: 280px;
  }
}

.world-clocks {
  margin-top: 2em;
}
.clockExtraInfo {
  position: relative;
  top: -0.5em;
  left: -0.75em;
}

.main-time-title {
  display: flex;
  place-self: start;
  position: relative;
  top: -1em;
  left: -0.75em;
}

.clockMainContent {
  transform: translateY(-0.3em);
}

.edit-container {
  display: flex;
  position: fixed;
  right: 1em;
  bottom: 1em;
}

.delete-btn {
  border-radius: 20%;
  position: absolute;
  left: 0.5em;
  height: 1.5em;
  width: 24px;
  transition: width 0.15s;
  z-index: 20;
}

.overlay {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  inset: 0;
}

.copyIcon {
  position: relative;
  top: 0;
}
.prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #182530;
  border: 1px solid rgb(37, 99, 235);
  border-radius: 10px;
  padding: 1em;
  z-index: 30;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 300px;
}

.noBtn,
.yesBtn {
  background-color: rgb(24, 24, 27);
  border-radius: 5px;
  padding: 0.3em 0.5em;
}

.noBtn {
  margin-left: 1em;
}

.promptOptions {
  display: flex;
  margin-top: 1em;
}

.justify-between {
  justify-content: space-between;
}
